<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 연결하려는 mapper interface의 클래스명까지 써야함. -->
<mapper namespace="tasteone.TasteOfSeoul.mapper.projectMapper">

    <select id="restaurantName" resultMap="restaurantMap">
        select  * from restaurant where restaurantname = #{name} or restaurantname like concat('%', #{name}, '%') LIMIT 1
    </select>

    <select id="restaurantData" resultMap="restaurantMap">
        select * from restaurant
    </select>


    <resultMap id="restaurantMap" type="tasteone.TasteOfSeoul.domain.RestaurantVO">
        <result property="restaurantId" column="restaurantid"/>
        <result property="restaurantName" column="restaurantname"/>
        <result property="address" column="address" />
        <result property="category" column="category"/>
        <result property="latitude" column="latitude" />
        <result property="longitude" column="longitude" />
        <result property="openHour" column="openhour" />
        <result property="closeHour" column="closehour" />
        <result property="phone" column="phone" />

    </resultMap>

</mapper>